# DESIGN TWEAKS
# don't do anything when a 'bell' rings
set -g visual-activity off
set -g visual-bell off
set -g visual-silence off
setw -g monitor-activity off
set -g bell-action none

# clock mode
setw -g clock-mode-colour blue

# copy mode
setw -g mode-style 'fg=black bg=green bold'

# panes
set -g pane-border-style 'fg=green'
set -g pane-active-border-style 'fg=blue'

# statusbar
set -g status-position bottom
set -g status-justify left
set -g status-style 'fg=green'

set -g status-left ''
set -g status-left-length 10

set -g status-right-style 'fg=black bg=blue'
set -g status-right '%Y-%m-%d %H:%M '
set -g status-right-length 50

setw -g window-status-current-style 'fg=black bg=green'
setw -g window-status-current-format ' #I #W #F '

setw -g window-status-style 'fg=green bg=black'
setw -g window-status-format ' #I #[fg=white]#W #[fg=blue]#F '

setw -g window-status-bell-style 'fg=blue bg=green bold'

# messages
set -g message-style 'fg=blue bg=green bold'

# List of plugins
set -g @plugin 'tmux-plugins/tpm'
set -g @plugin 'tmux-plugins/tmux-sensible'
set -g @plugin 'erikw/tmux-powerline'

# Predefined session
new -s my_sess # create new session
#neww -n left # create new window
split-window -h -t left # create pane 0 (left) and pane 1 (to the right)
split-window -v # split pane 1 (current pane) in two --> new pane 2 on the bottom
select-pane -t 0 # go back to left pane
split-window -v # split pane 0 (current pane) in two --> all pane numbers are shuffled
select-pane -t 0 # go back to left pane

# additional commands I am actually not using (but they work!)
#split-window -v 'ls;bash -i' # same as above, but ls is executed in window
#select-pane -t 4 # go to lower right pane
#split-window -h # split pane 4 (current pane) in two horizontally

# Initialize TMUX plugin manager (keep this line at the very bottom of tmux.conf)
run '~/.tmux/plugins/tpm/tpm'
